server:
  port: 9095
spring:
  application:
    name: gateway
  profiles:
    active: local
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: ${ORIGINS_URI:http://79.174.80.200}
            allowCredentials: true
            allowedHeaders: "*"
            allowedMethods: "*"
      routes:
        - id: mc-account
          uri: http://mc-account-conteiner:8085
          predicates:
            - Path=/api/v1/account/**

        - id: mc-auth
          uri: http://mc-auth-conteiner:8086
          predicates:
            - Path=/api/v1/auth/**

        - id: mc-country
          uri: http://mc-country-conteiner:8087
          predicates:
            - Path=/api/v1/geo/**

        - id: mc-dialog
          uri: http://mc-dialog-conteiner:8088
          predicates:
            - Path=/api/v1/dialogs/**

        - id: mc-friends
          uri: http://mc-friends-conteiner:8090
          predicates:
            - Path=/api/v1/friends/**

        - id: mc-notification
          uri: http://mc-notification-conteiner:8089
          predicates:
            - Path=/api/v1/notifications/**

        - id: mc-post
          uri: http://mc-post-conteiner:8091
          predicates:
            - Path=/api/v1/post/**

        - id: mc-storage
          uri: http://mc-storage-conteiner:8092
          predicates:
            - Path=/api/v1/storage/**


management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://mc-eureka-conteiner:8888/eureka/